<!doctype html>
<html>
  <head>
    <title>PLFM CHAT</title>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="/panda.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="/panda.ico" type="image/x-icon"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none;  }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
body {
  margin: 0;
  background: #25A3FF;
  font-family: 'Roboto', sans-serif;
}

h1 {
  position: relative;
  color: #fff;
  opacity: 0;
  transition: .8s ease-in-out;
}

#progress {
  position: absolute;
  background: #0069ec;
  height: 100vh;
  width: 0;
  transition: width 0.2s ease-in-out;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/******
  Form
 ******/

#register {
  background: #fff;
  position: relative;
  width: 410px;
  padding: 2px 15px 20px 15px;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
  transition: transform .1s ease-in-out;
}

#register.close {
  width: 0;
  padding: 0;
  overflow: hidden;
  transition: .8s ease-in-out;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0);
}

.next {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 40px;
  color: #25a3ff;
  float: right;
  cursor: pointer;
}
.next:hover {color: #333}
.wrong .next {color: #ff2d26}
.close .next {color: #fff}

#inputContainer {
  position: relative;
  opacity: 0;
  width: 350px;
  margin-top: 25px;
  transition: opacity .3s ease-in-out;
}

#inputContainer input {
  width: 100%;
  padding: 0 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  outline: 0;
  background: transparent;
  box-shadow:none;
}

#inputLabel {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  font-size: 20px;
  font-weight: bold;
  padding: 0 5px;
  transition: .2s ease-in-out;
}

#inputContainer input:valid + #inputLabel {
  top: -15px;
  font-size: 11px;
  font-weight: normal;
  color: #9e9e9e;
}

#inputProgress {
  position: absolute;
  border-bottom: 2px solid #25a3ff;
  padding: 3px 0;
  width: 0;
  transition: width .6s ease-in-out;
}

.wrong #inputProgress {
  border-color: #ff2d26;
}
    </style>
  </head>
  <body>
    <div  id="kucing">

      <div id="progress"></div>

<div class="center">

  <div id="register">

    <i id="progressButton" class="ion-android-arrow-forward next"></i>

    <div id="inputContainer">

      <input id="inputField" required autofocus />
      <label id="inputLabel"></label>
      <div id="inputProgress"></div>
    </div>

  </div>
</div>
    </div>
    <div class="row" id="kecil">
<!--      <audio controls  id="message-sound">-->
  <!--<source src="horse.ogg" type="audio/ogg">-->
<!--  <source src="/received_message.mp3" type="audio/mpeg">-->
<!--Your browser does not support the audio element.-->
<!--</audio>-->
      <div class="col-sm-12">
    <ul id="messages" style="padding-bottom: 25px !important;">
      <div id="kemplo">

      </div>
      <li id="junaedi" style="color:white;">sdasds</li>
    </ul>

      </div>
<div class="col-sm-12">

    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
  </div>
    </div>
<!--<div class="row">-->


<!--</div>-->

  </body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
    <!--<script src="/panda.js"></script>-->
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
   $(function () {
     $("#kecil").hide()
     $("#kucing").show()
    var socket = io();
    var username=""
    var blor=0;
    var jumlah=0
    var siapa=[]
   var typing=false
    $( "#m" ).keyup(function(e) {
      if(e.which!=13){

  socket.emit('keypress', {username:username,message:$('#m').val()});
      }

});
socket.on("add user",data=>{
$('#kemplo').append($('<li style="color:blue;">').html(`jumlah partisipan <b>${data.jumlah}</b>`));
$('#kemplo').append($('<li style="color:blue;">').html(`<b>${data.username}</b> masuk`));
})

socket.on("remove user",data=>{
  console.log("haha")
  if(data.username==username){
    console.log(data.username)
socket.emit("add user",{username:username})
  }else{
$('#kemplo').append($('<li style="color:red;">').html(`jumlah partisipan <b>${data.jumlah}</b>`));
$('#kemplo').append($('<li style="color:red;">').html(`<b>${data.username}</b> keluar`));
  }

})
//   $( "#m" ).keyup(function() {

//   // socket.emit('keypress', {username:'<%= username %>',message:$('#m').val()});
// });
socket.on('keypress', function(msg){
if(siapa.indexOf(msg.username)==-1){
  siapa.push(msg.username)
setTimeout(()=>{
  siapa.splice(siapa.indexOf(msg.username), 1);
$("#junaedi").css("color","white")
},400)

}
$("#junaedi").css("color","black")
$("#junaedi").html(`<i><b>${siapa.join()}</b> sedang mengetik...</i>`)

})
    $('form').submit(function(){
      socket.emit('chat message', {username:username,message:$('#m').val()});
      $('#m').val('');
      siapa=[]
$("#junaedi").css("color","white")
          // event.preventDefault();
    // Getting the height of the document
    var n = $(document).height();
    $('html, body').animate({ scrollTop: n }, 50);
      return false;
    });
    socket.on('chat message', function(msg){
      $('#kemplo').append($('<li style="font-size:20px">').html(`<b>${msg.username}</b>: ${msg.message}`));
          // event.preventDefault();
    // Getting the height of the document
    var n = $(document).height();

    $('html, body').animate({ scrollTop: n }, 50);
if(blor==1){
      var audio = new Audio('/received_message.mp3');
audio.play();
jumlah++
    $("title").eq(0).text(`(${jumlah}) PLFM CHAT`)
}

    });

    $(window).on('blur', windowBlurred);
    $(window).on('focus', windowFocused);


function windowBlurred()
{
//     if(jumlah!=0){

//     }
blor=1;

    // console.log('blur');
}

function windowFocused()
{
  jumlah=0
$("title").eq(0).text(`PLFM CHAT`)
  blor=0;
    // console.log('focus');

}
var questions = [
  {question:"Nickname?"},

]
  var tTime = 100  // transition transform time from #register in ms
  var wTime = 200  // transition width time from #register in ms
  var eTime = 1000 // transition width time from inputLabel in ms

  // init
  // --------------
  var position = 0

  putQuestion()

  progressButton.addEventListener('click', validate)
  inputField.addEventListener('keyup', function(e){
    transform(0, 0) // ie hack to redraw
    if(e.keyCode == 13) validate()
  })

  // functions
  // --------------

  // load the next question
  function putQuestion() {
    inputLabel.innerHTML = questions[position].question
    inputField.value = ''
    inputField.type = questions[position].type || 'text'
    inputField.focus()
    showCurrent()
  }

  // when all the questions have been answered
  function done() {
    username=questions[0].value
socket.emit("add user",{username:questions[0].value})
    // remove the box if there is no next question
    register.className = 'close'

    // add the h1 at the end with the welcome text
    var h1 = document.createElement('h1')
    h1.appendChild(document.createTextNode('Welcome to PLFM CHATROOM ' + questions[0].value + '!'))
    setTimeout(function() {
      register.parentElement.appendChild(h1)
      setTimeout(function() {
          h1.style.opacity = 1;
      setTimeout(()=>{
          $("#kecil").show()
          $("html").css("background-color","white")
          $("#kecil").css("background-color","white")

     $("#kucing").hide()
      },3000)

      }, 50)
    }, eTime)

  }

  // when submitting the current question
  function validate() {

    // set the value of the field into the array
    questions[position].value = inputField.value

    // check if the pattern matches
    if (!inputField.value.match(questions[position].pattern || /.+/)) wrong()
    else ok(function() {

      // set the progress of the background
      progress.style.width = ++position * 100 / questions.length + 'vw'

      // if there is a new question, hide current and load next
      if (questions[position]) hideCurrent(putQuestion)
      else hideCurrent(done)

    })

  }

  // helper
  // --------------

  function hideCurrent(callback) {
    inputContainer.style.opacity = 0
    inputProgress.style.transition = 'none'
    inputProgress.style.width = 0
    setTimeout(callback, wTime)
  }

  function showCurrent(callback) {
    inputContainer.style.opacity = 1
    inputProgress.style.transition = ''
    inputProgress.style.width = '100%'
    setTimeout(callback, wTime)
  }

  function transform(x, y) {
    register.style.transform = 'translate(' + x + 'px ,  ' + y + 'px)'
  }

  function ok(callback) {
    register.className = ''
    setTimeout(transform, tTime * 0, 0, 10)
    setTimeout(transform, tTime * 1, 0, 0)
    setTimeout(callback,  tTime * 2)
  }

  function wrong(callback) {
    register.className = 'wrong'
    for(var i = 0; i < 6; i++) // shaking motion
      setTimeout(transform, tTime * i, (i%2*2-1)*20, 0)
    setTimeout(transform, tTime * 6, 0, 0)
    setTimeout(callback,  tTime * 7)
  }
  });
</script>
</html>